<h1>Dashboard Home 💻</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi perspiciatis est nobis et, ipsum tenetur a doloribus similique aperiam accusantium?</p>

<%- contentFor('additionalJs') %>
<script>
    console.log('hello world');
</script>